@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}
.bottom {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin: 0px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.mainContainer {
  padding: 0px;
}

.rowContainer {
  padding: 70px;
}

.col1 {
  padding: 0px;
}
.col2 {
  padding: 0px;
}

.ul {
  background-color: #333;
}

.li {
  margin-top: 20px;
}

.topNav {
  margin: 0px;
  padding: 40px;
}

.main {
  padding: 20px 30px;
  border: 2.5px solid#6c757d;
  border-radius: 10px;
  height: 500px;
  max-width: 60%;
  margin: auto;
  overflow-y: auto;
}

.main .message {
  text-align: left;
  color: #f5f5f5;
  background-color: #3680b0;
  padding: 18px;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

.main .reply {
  text-align: right;
  color: #f5f5f5;
  background-color: #36b080;
  padding: 18px;
  width: 100%;
  font-weight: 300;
  margin-top: 20px;
  font-size: 15px;
}
.right {
  text-align: right;
}

.float {
  /* float: right; */
  font-weight: 500;
  font-size: 15px;
  color: white;
}
.activate {
}
.commands {
  overflow-y: auto;
  height: 500px;

  padding: 18px;
}

.floatReply {
  float: right;
  font-weight: 500;
  font-size: 15px;
  color: white;
}
